{% extends "register/base.html" %}

{% block title%}
    Register
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
    {% load crispy_forms_tags %}
    <form method="POST" >
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Register</button>
        <p>Already have an account? Login <a href="/login">here</a></p>
    </form>
{% else %}
    <h2>You are already logged in as {{user.username}}. If you wish to create a new account, you must first <a href="/logout">logout</a> here. If you wish to continue using the website, you go to the <a href="/home">home</a> page.</h2>
{% endif %}
{% endblock %}