{% extends "register/base.html" %}

{% block title %}
    {{user.username}}
{% endblock %}

{% block searchbar %}
          <form action="{% url 'search_page' %}" method="get">
            <input name="q" type="text" placeholder="Search.." />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          {% endblock %}

{% block content %}

<h1>Profile Page</h1>
<table class="table" style="font-size:24px">
  <tbody>
    <tr>
      <td style="width:40%">Username</td>
      <td style="width:40%">{{user.username}}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{user.first_name }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{user.last_name}}</td>
    </tr>
    <tr>
      <td>Email Id</td>
      <td>{{user.email}}</td>
    </tr>
    
  </tbody>
</table>
    
{% endblock %}