{% extends "register/base.html" %}

{% block title %}
    {{user.username}}
{% endblock %}

{% block searchbar %}
          <form action="{% url 'search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search.." />
            <input type="radio" id="movieradio" name="choice" value="searchingMovies">
            <label for="movieradio">Movie</label>
            <input type="radio" id="showradio" name="choice" value="searchingShows">
            <label for="showradio">Show</label>
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          {% endblock %}

{% block content %}
    <h3>{{user.username}}</h3>
    
{% endblock %}